<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trackear</title>
    <link rel="stylesheet" as="style" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&amp;display=swap" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="flex flex-col h-full bg-gray-100">
    <main role="main" class="mx-auto container">
      <div style="position: absolute; width: 100%; min-height: 676px; top: -180px; left: 0; z-index: -1; transform: skewY(-10deg); background: linear-gradient(1deg, #4c00ff, #1a202c);"></div>
      <%= if get_flash(@conn, :info) do %>
        <p class="rounded-b bg-red-400 text-white p-2 text-center" role="alert"><%= get_flash(@conn, :info) %></p>
      <%= end %>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <a href="<%= System.get_env("TRACKEAR_URL") %>" class="text-center text-white hover:text-white font-bold text-2xl mt-16 mb-8 flex items-center justify-center mt-10">
        <svg class="mr-2 w-6 text-pink-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        Trackear.app
      </a>
      <div class="w-full max-w-md mx-auto bg-white shadow-lg rounded px-8 py-6 mt-4 border">
        <%= @inner_content %>
      </div>
    </main>
  </body>
</html>
